# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

setup_idea.bat

run
gradle
build
4.9
buildOutputCleanup
vcsWorkingDirs